@use '../global' as g;

.p-parallax {
  margin-top: 4rem;
  position: relative;
  max-width: 1280px;
  margin-inline: auto;
  height: 100px;
  
  @include g.mq(sm) {
    margin-top: 15.2rem;
    height: calc((347 / 1280) * 100vw);
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
  }

  &__img {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    display: block;
    height: calc((104 / 375) * 100vw);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
    @include g.mq(md) {
      height: calc((347 / 1280) * 100vw);
    }
  }
}