---
import Layout from '../layouts/Layout.astro';
---

<Layout title="お問い合わせページ">
  <div class="p-contact-thanks">
    <div class="p-contact-thanks__inner">
      <p class="p-contact-thanks__text">
        お問い合わせありがとうございました。<br>
        内容を確認次第、3日以内にご返信致しますので<br class="u-hidden-sp">今しばらくお待ちください。<br>
      </p>
      <div class="p-contact-thanks__link">
        <a href="/">TOPに戻る</a>
      </div>
    </div>
  </div>
</Layout>