@use "../global" as g;

.c-page-top {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  z-index: 10;
  cursor: pointer;
  background: g.$bluePale;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  box-shadow: 0 6px 6px rgba(g.$gray, 0.25);
  transition: all 0.3s;
  @include g.mq(md) {
    bottom: 50px;
    right: 50px;
  }
  &:hover {
    background: g.$white;
    color: g.$mainBlue;
  }
}
