<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__logo">
      <a href="/">
        <img src="/assets/images/logo.svg" alt="U FIT">
        <h1 class="l-footer__logo-title">U&nbsp;FIT</h1>
      </a>
    </div>
    <ul class="l-footer__list">
      <li class="l-footer__item"><a class="l-footer__link" href="#feature">feature</a></li>
      <li class="l-footer__item"><a class="l-footer__link" href="#voice">voice</a></li>
      <li class="l-footer__item"><a class="l-footer__link" href="#plan">plan</a></li>
      <li class="l-footer__item"><a class="l-footer__link" href="#faq">faq</a></li>
    </ul>
  </div>
  <div class="l-footer__copyright">
    <p>Copyright © U FIT All Rights Reserved.</p>
  </div>
</footer>